<ion-header>
    <ion-toolbar color="light" >
        <ion-title>
          CONFIGURACION
        </ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>

<form (ngSubmit)="guardar()">
  <ion-list > 
    <ion-item >
      <ion-label position="floating" >Usuario</ion-label>
      <ion-input [(ngModel)]="nombre" placeholder="Ingresa tu nickname" name="nombre">
      </ion-input>
    </ion-item>

    <ion-button expand="block" size="large" fill="outline" type="submit"> Guardar</ion-button>

</ion-list>
</form>


</ion-content>
