<ion-header>
    <ion-toolbar color="light" >
      <ion-title>
            CHAT-APP
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid fixed>
        <ion-text color="medium" text-ceter> 
        </ion-text>
        <ion-row  *ngFor="let messageHtml of messages">
            <ion-col size="9"  class="message" 
              [ngClass]="{'other-message': messageHtml.user  !== currentUser, 
                          'my-message'   : messageHtml.user  === currentUser }" >
              <b> {{ messageHtml.nickname }} </b>
              <span ><br>{{ messageHtml.msg }}</span>
              <div class="time" text-right><br>{{ messageHtml.created | date:'short' }}</div>
            </ion-col>
        </ion-row>
    </ion-grid>
  
  </ion-content>
  
  <ion-footer>
    <ion-toolbar color="light">
        <ion-row align-items-center>
          <ion-col size="10">
            <ion-textarea auto-grow class="message-input" rows="1" [(ngModel)]="message"></ion-textarea>
          </ion-col>
          <ion-col size="2">
            <ion-button expand="block" fill="clear" color="primary" [disabled]="message === ''" class="msg-btn"
              (click)="sendMessage()">
              <ion-icon name="ios-send" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
    </ion-toolbar>
  </ion-footer>
  